/* HTML/BODY AND HEADER / WRAPPER&MAIN */
html, body { margin: 0; }

html { 
	font-family: raleway;
	font-size: 20px;
}

header {
	text-align: center;
	margin: 0 auto;
}

html{
	background-image: url("background.jpg");
}

body {
	background: rgba(0, 230, 255, 0.39);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: raleway;
	font-size: 20px;
	line-height: 30px;
}
.main-content
{
	flex: 1;
}

.wrapper{
	max-width: 1200px;
	margin: 0 auto;
	background: rgba(0, 230, 255, 0.19);
}

/* SCALE */
.full{
	clear: both;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 1.0em;
	margin: 0 auto;
}

.half{
	border-radius: 5%;
	border: 5px dotted lightblue;
	width: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
	margin: 0 auto;
	padding: 2%;
	position: relative;
	text-align: center;
}

.half span{
	padding-left: 5%;
	padding-right: 15%;
	float: right;
}

#profilepic{
	width: 40%;
}


.btn {
	text-shadow: 0 2px 2px rgba(0,0,0,0.5);
	display: inline-block;
	margin-bottom: 1rem;
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(255, 255, 255, 0.08);
	border-color: rgba(255, 255, 255, 0.2);
	border-style: solid;
	border-width: 1px;
	border-radius: 0.3rem;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
	.btn + .btn {
	margin-left: 1rem;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } }

p{
	text-align: left;
}

@media only screen and (max-width: 768px){
	header h1
	{
		font-size: 80px;
	}

	.half
	{
		width: 100%;
	}
}
@media only screen and (max-width: 450px){
	header h1
	{
		font-size: 55px;
	}

	.buttons
	{
		margin-right: 50%;
	}
}

/* HEADER */
.main-content header {
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
}

header h1 {
	text-transform: uppercase;
	text-shadow: 0 2px 2px rgba(0,0,0,0.5);
	font-family: Bree Serif;
	color: #f1f1f1;
	/*font-size: 80px; */
	line-height: 80px;
}

.site-footer {
	margin: 0 auto;
	margin-top: 3%;
	text-align: center;
	height: 200px;
	padding: 20px;

	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #000;
}
